body{
    background-color: darkblue;
}

#calculator{
    margin: 0 auto;
    margin-top: 70px;
    height: auto;
    width: 400px;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(75, 100, 108);
}

.indicator{
    text-align: center;
    padding: 10px 0 10px 0;
}

#result{
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border-color: black;
    box-shadow: 2px 2px 2px black;
    text-align: right;
    font-size: 30px;
    outline: none;
}

#buttons{
    text-align: center;
}

button{
    width: 80px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    background-color: blanchedalmond;
    outline: none;
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
}